{% extends 'theme.html'  %}

            {% block content %}
            {% for pro3 in pro2 %}
    <li>{{ pro3.name}}</li>
    
                    <h2> products</h2>
                    <div class="container">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ pro3.image }}" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Card title</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                          </div>
                    </div>
          
            {% endfor %}
            {% endblock %}
<!--<ul>
    <li> item 1</li>
    <li>item 2</li>
    
</ul>--->

