<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a href="" class="nav-link text-dark">DEMO</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="navbar-item"><a href="" class="nav-link text-dark">Navbar</a></li>
                    <li class="navbar-item"><a href="{% url 'dash' %}" class="nav-link text-dark">Dashboard</a></li>
                    <li class="navbar-item"><a href="{% url 'product' %}" class="nav-link text-dark">Products</a></li>
                    
                </ul>
                </ul>
            </div>
    </div>
</nav>